<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
	android:background="@android:color/black">
	<LinearLayout
		android:layout_width="match_parent"
		android:layout_height="100dp">
		<ImageView
			android:src="@drawable/logo"
			android:layout_width="match_parent"
			android:layout_height="match_parent"
		/> 
	</LinearLayout>
	<TextView 
		android:text="User"
		android:textColor="@android:color/white"
		android:textSize="40sp"
		android:gravity="center_horizontal"
		android:layout_height="wrap_content"
		android:layout_width="match_parent"
		android:layout_marginTop="10dp"
		android:id="@+id/helloMsg"
	/>
		<LinearLayout
		android:orientation="horizontal"
		android:weightSum="2"
		android:layout_width="match_parent"
		android:layout_height="40dp"
		android:gravity="center"
		android:layout_marginTop="40dp">
		<Button
			android:layout_height="40dp"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:text="Join Room"
			android:background="#ff388e3c"
			android:id="@+id/main_gotoJoinRoom"
		/>
	</LinearLayout>
		<LinearLayout
		android:orientation="horizontal"
		android:weightSum="2"
		android:layout_width="match_parent"
		android:layout_height="40dp"
		android:gravity="center"
		android:layout_marginTop="20dp">
		<Button
			android:layout_height="40dp"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:text="Create Room"
			android:background="#ff388e3c"
			android:id="@+id/main_gotoCreateRoom"
		/>
	</LinearLayout>
		<LinearLayout
		android:orientation="horizontal"
		android:weightSum="2"
		android:layout_width="match_parent"
		android:layout_height="40dp"
		android:gravity="center"
		android:layout_marginTop="20dp">
		<Button
			android:layout_height="40dp"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:text="My Stats"
			android:background="#ff388e3c"
			android:id="@+id/main_gotoMyStats"
		/>
	</LinearLayout>
</LinearLayout>