<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
	android:gravity="center_horizontal"
	android:background="@android:color/black">
	<LinearLayout
		android:layout_width="match_parent"
		android:layout_height="100dp">
		<ImageView
			android:src="@drawable/logo"
			android:layout_width="match_parent"
			android:layout_height="match_parent"
		/> 
	</LinearLayout>
	<TextView 
		android:textColor="@android:color/white"
		android:textSize="20sp"
		android:gravity="center_horizontal"
		android:layout_height="wrap_content"
		android:layout_width="wrap_content"
		android:id="@+id/gameResults_resultsView"/>
	<LinearLayout
		android:orientation="horizontal"
		android:weightSum="2"
		android:layout_width="match_parent"
		android:layout_height="40dp"
		android:gravity="center"
		android:layout_marginTop="10dp">
		<Button
			android:layout_height="40dp"
			android:layout_width="0dp"
			android:layout_weight="1"
			android:text="back"
			android:background="@android:color/holo_red_dark"
			android:id="@+id/gameResults_back"/>
	</LinearLayout>
</LinearLayout>
